/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); /*Krona One*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Montserrat*/

:root { /*Para definir variables en todo el CSS*/
    --negro-principal: #000000;
    --celeste-principal: #22D4FD;
    --blanco-principal: #F6F6F6;
    --negro-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona-one: "Krona One", sans-serif;
}
* { /*Elimina las características que el código hace por defecto*/
    padding: 0;
    margin: 0;
}

.header {
    padding: 65px 0 0 15%;
    
}

.header-menú {
    display: flex;
    gap: 80px;
}

.header-menú-link {
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 24px;
    color:var(--celeste-principal);
    text-decoration: none;
}

.texto-centrado {
    display: flex;
    align-items: center; /*Alinea en el centro los elementos de .texto-centrado*/
    padding: 6% 15%;
    justify-content: space-between;
}

.presentacion-texto {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*Necesita flexbox para luego poder usar gap*/
}

.título {
    font-size: 36px;
    font-family: var(--fuente-krona-one);
}

.párrafo-presentación {
    font-size: 24px;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}

.división-enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /*Orden y dirección de los elementos afectados por flex*/
    align-items: center;
    gap: 32px 0;
}

body {
    background: var(--negro-principal);
    color: var(--blanco-principal); /*Color de letras*/
    box-sizing: border-box;
}

.enfoque-titulo {
    color: var(--celeste-principal);
}

.título-enlaces {
    font-size: 24px;
    font-family: var(--fuente-krona-one);
    font-weight: 400;
}

.botones-enlaces {
    width: 378px;
    color: var(--blanco-principal);
    text-align: center;
    padding: 21.5px 0;
    border: 2px solid var(--celeste-principal); /*Grosor, estilo, color*/
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600; /*SemiBold*/
    text-decoration: none; /*Le saca el subrayado de un hipervínculo*/
    display: flex;
    justify-content: center;
    gap: 16px;
}

.botones-enlaces:hover {
    background-color: var(--negro-hover);
    transition: background-color 100ms ease-in-out;
}

.footer {
    font-family: var(--fuente-montserrat);
    font-weight: 400px;
    font-size: 24px;
    color: var(--negro-principal);
    background-color: var(--celeste-principal);
    text-align: center;
    padding: 24px 0;
}
