/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); /*Krona One*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Montserrat*/

:root { /*Para definir variables en todo el CSS*/
    --negro-principal: #000000;
    --celeste-principal: #22D4FD;
    --blanco-principal: #F6F6F6;
    --negro-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona-one: "Krona One", sans-serif;
}
* { /*Elimina las características que el código hace por defecto*/
    padding: 0;
    margin: 0;
}

.header {
    padding: 65px 0 0 15%;
    
}

.header-menú {
    display: flex;
    gap: 80px;
}

.header-menú-link {
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 1.5rem; /*Esta unidad de medida es relativa, esto significa que como no es absoluta no se fuerza constantemente a no cambiar.*/
    color:var(--celeste-principal);
    text-decoration: none;
}

.texto-centrado {
    display: flex;
    align-items: center; /*Alinea en el centro los elementos de .texto-centrado*/
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /*Necesita flexbox para luego poder usar gap*/
}

.título {
    font-size: 2.25rem;
    font-family: var(--fuente-krona-one);
}

.párrafo-presentación {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}

.división-enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /*Orden y dirección de los elementos afectados por flex*/
    align-items: center;
    gap: 32px 0;
}

body {
    background: var(--negro-principal);
    color: var(--blanco-principal); /*Color de letras*/
    box-sizing: border-box;
}

.enfoque-titulo {
    color: var(--celeste-principal);
}

.título-enlaces {
    font-size: 1.5rem;
    font-family: var(--fuente-krona-one);
    font-weight: 400;
}

.botones-enlaces {
    width: 50%;
    color: var(--blanco-principal);
    text-align: center;
    padding: 21.5px 0;
    border: 2px solid var(--celeste-principal); /*Grosor, estilo, color*/
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600; /*SemiBold*/
    text-decoration: none; /*Le saca el subrayado de un hipervínculo*/
    display: flex;
    justify-content: center;
    gap: 16px;
}

.botones-enlaces:hover {
    background-color: var(--negro-hover);
    transition: background-color 100ms ease-in-out;
}

.imagen-byn {
    width: 50%; /*Hace que tome el 50% de la pantalla adaptándose dependiendo de la resolución.*/
}

.footer {
    font-family: var(--fuente-montserrat);
    font-weight: 400px;
    font-size: 1.5rem;
    color: var(--negro-principal);
    background-color: var(--celeste-principal);
    text-align: center;
    padding: 24px 0;
}

@media(max-width: 1250px) {
    .texto-centrado {
        flex-direction: column-reverse; /*Cuando el largo de la pantalla baje de 1250px todo se va a ver en una columna.*/
        padding: 10%;
    }
    .presentacion-texto {
        width: auto;
    }
    .header {
        padding: 10%;
    }
    .header-menú {
        justify-content: center;
    }
}